* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.128rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin: .5em 0;
}

p {
    font-size: 1.1rem;
}

.header,
.footer {
    background-color: darkblue;
    color: white;
    padding: 2em 4em;
    text-align: center;
}

.title-span {
    color: #B7832F;
}

.container {
    max-width: 980px;
    margin: 1em auto;
}

.image {
    max-width: 100%;
    margin-bottom: 1em;
}

.column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.col {
    color: #707070;
    
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 75%;
}

.aside {
    background-color: #312614;
    padding: 1em;
    color: white;
}

.no-wrap {
    text-wrap: nowrap;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 90%;
        margin: 1em auto;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .col {
       width: 100%;
       margin-bottom: 1em;
    }
}
