* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    font-size: 1.128rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin: .5em 0;
}

p {
    font-size: 1.1rem;
}

.header,
.footer {
    background-color: darkblue;
    color: white;
    padding: 2em 4em;
    text-align: center;
}

.title-span {
    color: #B7832F;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    
}

.image {
    max-width: 100%;
}

.column {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.col {
    color: #707070;
    margin-bottom: 0.5em;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 75%;
}

.aside {
    background-color: #312614;
    padding: 1em;
    color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .col-1,
    .col-2,
    .col-3 {
       width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .column-tablet{
        display: flex;
    }
    .col-1,
    .col-2,
    .col-3 {
       width: 100%;
    }
} */
